version: 2.1

orbs: 
  node: circleci/node@7.2.1

jobs:
  checkoutEtTests:
    executor: node/default
    steps:
      - run: git clone https://github.com/emihern5/backend_labo01.git
      - run: cd backend_labo01
      - run: sudo npm install -g npm@latest
      - run:
          command: npm run test

workflows:
  build:
    jobs:
      - checkoutEtTests
